{{>header}}
<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
  {{>sideBar}}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Calendar</h4>
                  </div>
                  <div class="card-body">
                    <div class="fc-overflow">
                      <div id="myEvent"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           
        </section>
      

        
      {{>settings}}
        
      </div>
    </div>
      <footer class="main-footer">
        <div class="footer-left">
        
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
    
  </div>
  <!-- General JS Scripts -->
  <script src="/../js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
    <script src="/../bundles/fullcalendar/fullcalendar.min.js"></script>

   <script src="/../bundles/sweetalert/sweetalert.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="/../js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/../js/calender.js"></script>
   
</body>


<!-- collapse.html  21 Nov 2019 03:51:00 GMT -->
</html>